# Игнорируем папку настроек Visual Studio
.vs/

# Игнорируем папку сборки (если она в корне)
x64/
x86/
Debug/
Release/

# Игнорируем сгенерированные бинарные файлы
*.exe
*.dll
*.ilk
*.pdb
*.obj
*.sln
*.vcxproj*
*.user

# Игнорируем папку проекта (если она временная)
CarWash/